/*import font*/

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Montserrat&display=swap');

body {
    font-size: 16px;
    margin: 0;
    color: #394648;
    background-color: #69995d;
    font-family: Montserrat;
    font-weight: 400;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

h1,
h2,
h3 {
    font-family: Balsamiq Sans;
}

/*Header and logo*/
header {
    width: 100%;
    height: 50px;
    background-color: #f8e9e9;
}

.logo {
    cursor: pointer;
    color: #394648;
    padding-top: 5px;
}

.logo a {
    margin: 15px;
    text-decoration: none;
    color: #394648;
}

/*Customise the info box*/
.customBox {
    max-width: 700px;
    background-color: #f8e9e9;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
}

/*Help from Youtube Tutorial*/
.customBox::before,
.customBox::after {
    content: '';
    clear: both;
    display: table;
}

.customBox.hide {
    display: none;
}

.infoBox h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 25px;
}

.infoBox p {
    line-height: 22px;
    margin-bottom: 10px;
}

.infoBox span {
    font-weight: 600;
}

.infoBox .btn {
    margin-top: 20px;
}

/*Style the start quiz button*/
.btn {
    padding: 15px 45px;
    background-color: #69995d;
    color: #f8e9e9;
    border-radius: 5px;
    border: none;
    font-family: Montserrat;
    font-size: 16px;
    cursor: pointer;
}

/*Quiz box*/

.questionNumber,
.questionText,
.optionList,
.next_btn,
.answersIndicator {
    width: 100%;
    float: left;
}

.questionNumber {
    font-size: 18px;
    font-weight: 600;
    color: #69995d;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    line-height: 25px;
}

.questionText {
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    padding: 20px 0;
    
}

.optionList .option {
    padding: 15px;
    line-height: 22px;
    background-color: #edb6a3;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: capitalize;
}

.quizBox .btn {
    margin: 15px 0;
}

.answersIndicator {
    border-top: 1px solid gray;
}
.answersIndicator div{
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: #edb6a3;
    border-radius: 50%;
    margin-right: 3px;
    margin-top: 15px;
}